
@model IEnumerable<E_learning.DomainModels.Material>
@using Microsoft.AspNet.Identity;
@{
  ViewBag.Title = "MaterialsOfSection";
  //perdoret per te kontrolluar nese useri aktual eshte instruktor i kursit qe i perket seksioni perkates
  bool isCourseInstructor = (ViewBag.InstruktorId == User.Identity.GetUserId());
}

<div class="container">
  <br />
  @Html.Partial("_Notifications")
  <br />
  <h5>@Html.ActionLink(ViewBag.Kursi as String, "AllCourses", "Course", null, null)>@Html.ActionLink(ViewBag.Niveli as String, "CourseLevels", "Course", new { id = ViewBag.KursId }, null)>@Html.ActionLink(ViewBag.Tipi as String, "CourseLevelTypes", "Course", new { courseId = ViewBag.KursId, levelId = ViewBag.NivelId }, null)</h5>
  <hr />
  <br />
  <h2 class="text-center">Materialet</h2>
  @if (User.IsInRole("Instruktor") && isCourseInstructor)
  {
    <br />
    <a href="/Material/AddMaterialInSection/@ViewBag.SeksionId" class="btn btn-outline-success  btn-lg btn-block">Shto Material <i class="far fa-file-alt"></i></a>
  }
  <br />
  @if (Model == null || Model.Count() == 0)
  {
    <p class="text-center text-info">Ky tip i kursit nuk ka asnje material.</p>
  }
  else
  {
    <div class="row">

      @if (ViewBag.Tipi == "Video")
      {
        foreach (var material in Model)
        {

          <div class="card" style="margin-top:20px; margin-bottom:20px; border: groove">
            <div class="card-body">
              <video controls style="height:200px;">
                <source src="@MaterialPaths.VideosPath@System.Uri.EscapeUriString(material.Filename)" type="video/@System.IO.Path.GetExtension(material.Filename).ToLower().Substring(1)">
              </video>
              <h4 class="card-title">@material.Titulli</h4>
              <p class="card-text" style="overflow: auto; height: 70px;">@material.Pershkrimi</p>
              @if (User.IsInRole("Instruktor") && isCourseInstructor)
              {
                <div class="float-right">
                  <a href="/Material/EditMaterial/@material.Id" data-toggle="tooltip" title="Edito" class="card-link"><i class="far fa-edit"></i></a>
                  <a href="" data-toggle="modal" data-target="#deleteMaterialModal" onclick="addLinkTo('/Material/DeleteMaterial/@material.Id?sectionId=@ViewBag.SeksionId', 'fshiMaterialLink')" title="Fshi" class="card-link"><i class="far fa-trash-alt"></i></a>
                </div>
              }
            </div>
          </div>
        }
      }
      else
      {
        if (ViewBag.Tipi == "Audio")
        {
          foreach (var material in Model)
          {

            <div class="col-md-4">
              <div class="card" style="margin-top:20px; margin-bottom:20px; border: groove">
                <div class="card-body">
                  <audio controls="controls">
                    <source src="@MaterialPaths.AudioPath@System.Uri.EscapeUriString(material.Filename)" type="audio/@System.IO.Path.GetExtension(material.Filename).ToLower().Substring(1)">
                  </audio>
                  <h4 class="card-title ">@material.Titulli</h4>
                  <p class="card-text " style="overflow: auto; height: 70px;">@material.Pershkrimi</p>
                  @if (User.IsInRole("Instruktor") && isCourseInstructor)
                  {
                    <div class="float-right">
                      <a href="/Material/EditMaterial/@material.Id" data-toggle="tooltip" title="Edito" class="card-link"><i class="far fa-edit"></i></a>
                      <a href="" data-toggle="modal" data-target="#deleteMaterialModal" onclick="addLinkTo('/Material/DeleteMaterial/@material.Id?sectionId=@ViewBag.SeksionId', 'fshiMaterialLink')" title="Fshi" class="card-link"><i class="far fa-trash-alt"></i></a>
                    </div>
                  }

                </div>
              </div>
            </div>

          }
        }
        else //Text
        {
          <table class="table table-hover">
            <tr>
              <th>@Html.DisplayNameFor(x => x.Titulli)</th>
              <th>@Html.DisplayNameFor(x => x.Pershkrimi)</th>
              <th>Dokumenti</th>
              <th></th>
            </tr>
            @foreach (var material in Model)
            {
              <tr>
                <td>@Html.DisplayFor(x => material.Titulli)</td>
                <td>@Html.DisplayFor(x => material.Pershkrimi)</td>
                <td><a href="@MaterialPaths.TextPath@material.Filename" target="_blank">@Html.DisplayFor(x => material.Filename)</a></td>

                @if (User.IsInRole("Instruktor") && isCourseInstructor)
                {
                  <td>
                    <a href="/Material/EditMaterial/@material.Id" data-toggle="tooltip" title="Edito" class="card-link"><i class="far fa-edit"></i></a> &nbsp; &nbsp;
                    <a href="" data-toggle="modal" data-target="#deleteMaterialModal" onclick="addLinkTo('/Material/DeleteMaterial/@material.Id?sectionId=@ViewBag.SeksionId', 'fshiMaterialLink')" title="Fshi" class="card-link"><i class="far fa-trash-alt"></i></a>
                  </td>
                }

              </tr>
            }
          </table>
        }
      }
    </div>
  }
</div>

<!-- Delete Level Modal -->
<div class="modal fade" id="deleteMaterialModal" tabindex="-1" role="dialog" aria-labelledby="deleteMaterialModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Jeni te sigurt per fshirjen e materialit?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <form method="post" id="fshiMaterialLink" action="">
          <button type="submit" class="btn btn-danger">Fshi</button>
        </form>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Anulo</button>

      </div>
    </div>
  </div>
</div>
<script>
  function addLinkTo(link, id) {
    document.getElementById(id).action = link;
  }
</script>