@model E_learning.ViewModels.ChangePasswordVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <br />
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
      <h2>Ndrysho Password-in</h2>
      <hr />
      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
          @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
          @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
      </div>
      <div class="form-group">
        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
          @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
      </div>
      <br />
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <input type="submit" value="Ndrysho" class="btn btn-outline-dark bold" /> &nbsp;&nbsp;
          <a href="/Account/UserProfile" class="btn btn-secondary">Anulo</a>
        </div>
      </div>
    </div>
  }
</div>


