@model E_learning.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
  <br />
  <h2>Login</h2>
  <hr />
  <br />
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
    <div class="form-group col-md-4">
      @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })
    </div>
    <div class="form-group col-md-4">
      @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
      @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
    </div>

    <br />
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Login" class="btn btn-primary" />&nbsp;&nbsp;
        <a href="/Home/Index" class="btn btn-secondary">Anulo</a>
      </div>
    </div>
    <br />
    <p>Nuk keni akoma nje profil? <a href="/Account/Register">Regjistrohu</a></p>
  }
</div>


